body {
  padding: 0;
  margin: 0;
  font-family: 'PT Mono', serif;
  color: #ffffff;
}
canvas {
  display: block;
  background-color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.current-score {
  left: 20px;
}
.top-score {
  right: 20px;
}
.score {
  display: block;
  position: absolute;
  top: 15px;
  z-index: 1;
  font-size: 20px;
  text-align: right;
}
.controls h1{
  font-size: 20px;
  margin-bottom: 0;

}
.controls {
  display: block;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  font-size: 11px;
  text-align: center;
  line-height: 1.6;
}
.endgame{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  z-index: 1;
  text-align: center;
  width: 75%;
}
button{
  border: 4px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 16px;
  margin: 10px;
  font-family: 'PT Mono', serif;
  cursor: pointer;
}
button:hover{
  background-color: #ffffff;
  color: #000000;
}
.splash{
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  z-index: 1;
  text-align: center;
  width: 100%;
}
.splash a{
  color:white;
  font-weight: bolder;
  text-decoration: none;
}

ul li{
  list-style: none;
}
input{
  margin:5px;
  line-height: 30px;
}

input[type=input]{
  margin:5px;
  line-height: 30px;
  width: 100%;
}
 .hidden{
   display: none;
 }
input[type=checkbox] {

transform: scale(1.5);
  margin-right: 15px;
}
button{
  margin-top:20px;
}

.red{
  color:red;
}
.blue{
  color:blue;
}

table{
  width: 100%;
}